
@model  InstagramAspMVC.Models.User
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@{ var userInfomatiom = (InstagramAspMVC.Models.User)Session["User"]; }
<div class="container">
    <div class="profile">
        <div class="profile-image">
            @if (userInfomatiom.image == null)
            {
                <img src="~/Content/Assests/assets/default-user.png" height="150" width="150" alt="User Picture" />
            }
            else
            {
                <img src="~/Content/Assests/images/@Model.image"
                     alt="" height="150" width="150" />
            }

        </div>
      
        <div class="profile-user-settings">
            <h1 class="profile-user-name">@Model.fullname</h1>
            @{
                var button2 = "button2" + Model.id_user;
                InstagramAspMVC.Daos.FollowDao followDao = new InstagramAspMVC.Daos.FollowDao();
                InstagramAspMVC.Models.Follow follow = new InstagramAspMVC.Models.Follow();
                follow.id_userFollow = userInfomatiom.id_user;
                follow.id_userBeFollow = Model.id_user;
                var check = followDao.checkExist(follow);
            }
            @if (Model.id_user != userInfomatiom.id_user)
            {
                if (check != null)
                {
                    <button id="@button2" onclick="follow(@Model.id_user)" style="margin-bottom:15px;margin-left:10px" type="button" class="btn btn-outline-dark">UnFollow</button>
                }
                else
                {
                    <button id="@button2" onclick="follow(@Model.id_user)" style="margin-bottom:15px;margin-left:10px" type="button" class="btn btn-primary">Follow</button>
                }

            }

            @if (Model.id_user == userInfomatiom.id_user)
            {
                <a href="/User/EditProfile" class="btn profile-edit-btn">Edit Profile</a>
            }

            <button class="btn profile-settings-btn"
                    aria-label="profile settings">
                <i class="fas fa-cog" aria-hidden="true"></i>
            </button>
        </div>

        <div class="profile-stats">
            <ul>
                <li><span class="profile-stat-count">@ViewBag.numberPost posts</span> </li>
                <li><a style="text-decoration: none; color:black" href="/User/ListFollower/@Model.id_user" class="profile-stat-count">@ViewBag.numberFollower followers</a> </li>
                <li><a style="text-decoration: none; color: black"  href="/User/ListFollowing/@Model.id_user" class="profile-stat-count">@ViewBag.numberFollowing following</a> </li>
            </ul>
        </div>

        <div class="profile-bio">
            <p>
                <span class="profile-real-name">Jane Doe</span> Lorem ipsum dolor
                sit, amet consectetur adipisicing elit 📷✈️🏕️
            </p>
        </div>
    </div>
    <!-- End of profile section -->
</div>
<!-- End of container -->
<script>
    function follow(id) {
        @* var nameId = "#idUserBeFollow" + id;*@
                 var button2 = "#button2" + id;
        @* var idUserBeFollow = $(nameId).val();*@
                 var formData = new FormData();
        formData.append('idUserBeFollow', id);
        $.ajax(
            {
                type: 'POST',
                url: '/User/FollowUser/',
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {

                    var html = ``;
                    if (data.msg == "unFollow") {
                        html = `Follow`
                        $(button2).addClass('btn-primary');
                        $(button2).removeClass('btn-outline-dark');
                        $(button2).html(html)
                    } else {
                        html = `UnFollow`
                        $(button2).addClass('btn-outline-dark');
                        $(button2).removeClass('btn-primary');
                        $(button2).html(html)
                    }
                },
                error: function (err) {
                    alert(err);
                }
            }
        )
    }
</script>
<main>
    <div class="container">
        <div class="gallery">
            <div class="gallery-item" tabindex="0">
                <img src="https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop"
                     class="gallery-image"
                     alt="" />

                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 56
                        </li>
                        <li class="gallery-item-comments">
                            <span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2
                        </li>
                    </ul>
                </div>
            </div>

            <div class="gallery-item" tabindex="0">
                <img src="https://images.unsplash.com/photo-1497445462247-4330a224fdb1?w=500&h=500&fit=crop"
                     class="gallery-image"
                     alt="" />

                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 89
                        </li>
                        <li class="gallery-item-comments">
                            <span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 5
                        </li>
                    </ul>
                </div>
            </div>

            <div class="gallery-item" tabindex="0">
                <img src="https://images.unsplash.com/photo-1426604966848-d7adac402bff?w=500&h=500&fit=crop"
                     class="gallery-image"
                     alt="" />

                <div class="gallery-item-type">
                    <span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>
                </div>

                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 42
                        </li>
                        <li class="gallery-item-comments">
                            <span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 1
                        </li>
                    </ul>
                </div>
            </div>

            <div class="gallery-item" tabindex="0">
                <img src="https://images.unsplash.com/photo-1502630859934-b3b41d18206c?w=500&h=500&fit=crop"
                     class="gallery-image"
                     alt="" />

                <div class="gallery-item-type">
                    <span class="visually-hidden">Video</span><i class="fas fa-video" aria-hidden="true"></i>
                </div>

                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 38
                        </li>
                        <li class="gallery-item-comments">
                            <span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 0
                        </li>
                    </ul>
                </div>
            </div>

            <div class="gallery-item" tabindex="0">
                <img src="https://images.unsplash.com/photo-1498471731312-b6d2b8280c61?w=500&h=500&fit=crop"
                     class="gallery-image"
                     alt="" />

                <div class="gallery-item-type">
                    <span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>
                </div>

                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 47
                        </li>
                        <li class="gallery-item-comments">
                            <span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 1
                        </li>
                    </ul>
                </div>
            </div>

            <div class="gallery-item" tabindex="0">
                <img src="https://images.unsplash.com/photo-1515023115689-589c33041d3c?w=500&h=500&fit=crop"
                     class="gallery-image"
                     alt="" />

                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 94
                        </li>
                        <li class="gallery-item-comments">
                            <span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 3
                        </li>
                    </ul>
                </div>
            </div>

            <div class="gallery-item" tabindex="0">
                <img src="https://images.unsplash.com/photo-1504214208698-ea1916a2195a?w=500&h=500&fit=crop"
                     class="gallery-image"
                     alt="" />

                <div class="gallery-item-type">
                    <span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>
                </div>

                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 52
                        </li>
                        <li class="gallery-item-comments">
                            <span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 4
                        </li>
                    </ul>
                </div>
            </div>

            <div class="gallery-item" tabindex="0">
                <img src="https://images.unsplash.com/photo-1515814472071-4d632dbc5d4a?w=500&h=500&fit=crop"
                     class="gallery-image"
                     alt="" />

                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 66
                        </li>
                        <li class="gallery-item-comments">
                            <span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2
                        </li>
                    </ul>
                </div>
            </div>

            <div class="gallery-item" tabindex="0">
                <img src="https://images.unsplash.com/photo-1511407397940-d57f68e81203?w=500&h=500&fit=crop"
                     class="gallery-image"
                     alt="" />

                <div class="gallery-item-type">
                    <span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>
                </div>

                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 45
                        </li>
                        <li class="gallery-item-comments">
                            <span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 0
                        </li>
                    </ul>
                </div>
            </div>

            <div class="gallery-item" tabindex="0">
                <img src="https://images.unsplash.com/photo-1518481612222-68bbe828ecd1?w=500&h=500&fit=crop"
                     class="gallery-image"
                     alt="" />

                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 34
                        </li>
                        <li class="gallery-item-comments">
                            <span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 1
                        </li>
                    </ul>
                </div>
            </div>

            <div class="gallery-item" tabindex="0">
                <img src="https://images.unsplash.com/photo-1505058707965-09a4469a87e4?w=500&h=500&fit=crop"
                     class="gallery-image"
                     alt="" />

                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 41
                        </li>
                        <li class="gallery-item-comments">
                            <span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 0
                        </li>
                    </ul>
                </div>
            </div>

            <div class="gallery-item" tabindex="0">
                <img src="https://images.unsplash.com/photo-1423012373122-fff0a5d28cc9?w=500&h=500&fit=crop"
                     class="gallery-image"
                     alt="" />

                <div class="gallery-item-type">
                    <span class="visually-hidden">Video</span><i class="fas fa-video" aria-hidden="true"></i>
                </div>

                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 30
                        </li>
                        <li class="gallery-item-comments">
                            <span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End of gallery -->

        <div class="loader"></div>
    </div>
    <!-- End of container -->
</main>

