@model List<InstagramAspMVC.Models.Post>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Quản lí bài viết</h1>
        <ol class="breadcrumb mb-4">
        
        </ol>

        <div class="card mb-4">
            <div class="card-header">
                @if (ViewBag.Msg != null)
                {
                    <div class="alert alert-info">
                        <strong>@ViewBag.Msg</strong>
                    </div>
                }
                    
                </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Ảnh</th>
                            <th>Nội dung</th>
                            <th>Người đăng</th>
                            <th>Hành động</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>STT</th>
                            <th>Ảnh</th>
                            <th>Nội dung</th>
                            <th>Người đăng</th>
                            <th>Hành động</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{
                            var id = 0;
                        }
                        @foreach (var item in Model)
                        {
                            id += 1;
                        <tr>
                            <td>@id</td>
                            @{
                                var img = new InstagramAspMVC.Daos.PostDao().getImg(item.id_post);
                            }
                        <td>
                            @{
                                var idModel = "exampleModalImg" + item.id_post;
                            }
                            <a href="" data-bs-toggle="modal" data-bs-target="#@idModel">
                                <img style="width: 120px !important;height: 150px !important;" src="~/Content/Assests/images/@img.image" class="img-fluid">
                            </a>
                            <!-- Modal img-->
                            <div class="modal fade" id="@idModel" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-m">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <img style="width: 460px !important;height: 580px !important;" src="~/Content/Assests/images/@img.image" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal img-->
                        </td>
                            <td>@item.content</td>
                            <td>@item.User.fullname</td>
                            @if (item.status == 1)
                            {
                                <td>
                                    <a href="/AdminPost/ChangeStatus?id=@item.id_post" style="width:100px;color:white" class="btn btn-danger">
                                        Chặn bài
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <a href="/AdminPost/ChangeStatus?id=@item.id_post" style="width:100px;color:white" class="btn btn-warning">
                                        Bỏ chặn
                                    </a>
                                </td>
                            }

                        </tr>
                            
                        }


 


                   </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

